<!doctype html>
<html lang="uz"><head>
<meta charset="utf-8"><meta name="viewport" content="width=device-width,initial-scale=1">
<title>PhotoGram</title><script src="https://telegram.org/js/telegram-web-app.js"></script>
<link rel="stylesheet" href="/static/style.css"></head>
<body>
<header><b>PhotoGram</b><button onclick="openUpload()">＋</button></header>
<div id="announcement"></div>
<main id="feed"></main>
<nav><button onclick="loadFeed()">⌂<small>Home</small></button><button onclick="openUpload()">＋<small>Post</small></button><button onclick="openMe()">♙<small>Profil</small></button></nav>
<div id="modal" class="modal hidden"><div class="sheet" id="sheet"></div></div>
<script src="/static/app.js"></script></body></html>